body[b-h25q02kojj] {
}
.page[b-h25q02kojj] {
  margin:auto;
}
.head1[b-h25q02kojj] {
  background: #DDE8D1;
  position: absolute;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100vw;
  margin: auto;
}
.titleQuote[b-h25q02kojj] {

  font-family: 'Josefin Slab', serif;
  font-size: 22px;
  color: #3A4653;
}
.titleMain[b-h25q02kojj] {
  font-family: 'Island Moments', cursive;
  font-size: 40px;
  margin-top: -15px;
}