body[b-ulsdhnu33s], html[b-ulsdhnu33s] {
  position:fixed;
}
.head1[b-ulsdhnu33s] {
  width:95%;
}
.head2[b-ulsdhnu33s] {
  background: #4DA27C;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  font-family: 'Josefin Slab', serif;
  font-size:18px;
}
.addBttn[b-ulsdhnu33s] {
  cursor:pointer;
  font-family: 'Josefin Slab', serif;
  margin:auto;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
}
a[b-ulsdhnu33s] {
  text-decoration: none;
}
  a[b-ulsdhnu33s]:after{
    text-decoration: none;
  }


tr[b-ulsdhnu33s] {
  background: #ACE1DA;
  border-bottom: 1px solid #4DA27C;
}
td[b-ulsdhnu33s] {
  justify-content:space-between;
}

.mainTable[b-ulsdhnu33s] {
  margin:auto;
  min-width:80vw;
  max-width:90vw;
}
.tableHead[b-ulsdhnu33s] {
  font-size: 15px;
}
.contentMain[b-ulsdhnu33s] {
  font-size: 15px;
}


@media all and (max-width: 480px px) {
}

