body[b-siyvm3nd9e] {
}
.PlantNameCell[b-siyvm3nd9e] {
  min-width: 20vw;
}
.addBttn[b-siyvm3nd9e] {
  height: 4vh;
  width: 13vh;
  background: #4DA27C;
  border: none;
  border-radius: 5px;
  margin-top: 2vh;
}