body[b-ulsdhnu33s] {
}
.head2[b-ulsdhnu33s] {
  background: #4DA27C;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15vh;
  width: 100vw;
  height: 13vh;
  font-family: 'Josefin Slab', serif;
}
.addBttn[b-ulsdhnu33s] {
  height: 5vh;
  width: 15vh;
  background:#ACE1DA;
  border: none;
}

tr[b-ulsdhnu33s] {
  background: #ACE1DA;
  border-bottom: 1px solid #4DA27C;
}

.mainTable[b-ulsdhnu33s] {
  margin:auto;
  min-width:80vw;
  max-width:90vw;
}
.tableHead[b-ulsdhnu33s] {
  font-size: 15px;
}
.contentMain[b-ulsdhnu33s] {
  font-size: 15px;
}


@media all and (max-width: 480px px) {
  .head2[b-ulsdhnu33s] {
    width:100vw;
    color: red;
  }
  .mainTable[b-ulsdhnu33s] {
  margin-left:auto;
  margin-right: auto;
  
  }
}

