@page "/AddPlant"
@using Greener.DAL
@using Greener.Models

<style>
	#GFG {
		text-decoration: none;
	}
</style>
<h3 class="head2">  New plant</h3>
<div class="LayoutNewPlant">




<EditForm class="form" EditContext="@editPlant" OnValidSubmit="HandleSubmit">
		<DataAnnotationsValidator />
<div>
	<label for="Name">Name</label>
	<InputText id="name" @bind-Value="@plant.Name" ></InputText>
</div>
<div>
	<label for="LatinName">LatinName</label>
		<InputText id="latinName" @bind-Value="@plant.LatinName"></InputText>
</div>
	<div>
		<label for="SoilType">SoilType</label>
		<InputText id="soilType" @bind-Value="@plant.SoilType"></InputText>
	</div>
	<div>
		<label>Obtained</label>
		<InputDate id="date" @bind-Value="date"></InputDate>
	</div>
	<button class="addBttn" type="submit"> Add </button>
		<button class="addBttn"> <NavLink class="bttnText" href="/"> Back to the list</NavLink></button>
		
</EditForm>


@code {
	protected Plant plant = new Plant();
	private EditContext? editPlant;
	private DateTime date { get; set; }
	protected override void OnInitialized ()
	{
		
		editPlant = new(plant);
	}

	public void HandleSubmit()
	{
		plant.Obtained = date.ToString();
		plant.Cutting = new List<string>();
		plant.Feritilized= new List<string>();
		plant.Watered = new List<string>();
		var context = new PlantDAL();
		context.AddPlant(plant);
	}
}
</div>
