body {
}
.head2 {  
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  width: 100%;
  height:18vh;
  font-family: 'Josefin Slab', serif;
  font-size:13px;
}

.LayoutNewPlant {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::deep .addPlant {
  background: #DDE8D1;
  border: 3px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inpTxt {
  background: #DDE8D1;
  border: 2px #84CEB6;
}
.addBttn {
  height: 5vh;
  width: 15vh;
  background: #4DA27C;
  border: none;
  border-radius: 5px;
}