@page "/AddPlant"
@using Greener.DAL
@using Greener.Models


<div class="LayoutNewPlant">
<EditForm class="addPlant" EditContext="@editPlant" OnValidSubmit="HandleSubmit">
		<DataAnnotationsValidator />
<div>
	<label for="Name">Name</label>
	<InputText class="inpTxt" id="name" @bind-Value="@plant.Name" ></InputText>
</div>
<div>
	<label for="LatinName">LatinName</label>
			<InputText class="inpTxt" id="latinName" @bind-Value="@plant.LatinName"></InputText>
</div>
	<div>
		<label for="SoilType">SoilType</label>
			<InputText class="inpTxt" id="soilType" @bind-Value="@plant.SoilType"></InputText>
	</div>
	<div>
		<label>Obtained</label>
			<InputDate class="inpTxt" id="date" @bind-Value="date"></InputDate>
	</div>
	<button class="addBttn" type="submit"> <div>Add</div> </button>
				
</EditForm>
</div>


@code {
	protected Plant plant = new Plant();
	private EditContext? editPlant;
	private DateTime date { get; set; }
	protected override void OnInitialized ()
	{
		
		editPlant = new(plant);
	}

	public void HandleSubmit()
	{
		plant.Obtained = date.ToString();
		plant.Cutting = new List<string>();
		plant.Feritilized= new List<string>();
		plant.Watered = new List<string>();
		var context = new PlantDAL();
		context.AddPlant(plant);
	}
}
