@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Greener.DAL
@using Greener.Models
@using System.Security.Claims;
@inject IHttpContextAccessor _httpContextAccessor

<AuthorizeView>
	<Authorized>
		<a>@Email email</a>
<div class="headTasks head2">
	<button class="addBttn" @onclick=@ShowTask> Tasks </button>
</div>
<div hidden="@IsShowTask"> <TaskList /></div>

<div class="headAddNew head2">
	
	<button class="addBttn" @onclick=@ShowAddNew> Add new plant </button>
</div>
<div hidden="@IsShowAdd"> <AddPlant/></div>

<div class="headList head2">
<button class="addBttn" @onclick=@ShowList>Plant List   </button>
</div>
<div hidden="@IsShowList"> <PlantListTable email = "@Email"/> </div>
	</Authorized>
	<NotAuthorized>
		<p >Please Login using yout google account </p>

	</NotAuthorized>
</AuthorizeView>


@code{
	public string Email;
	private bool IsShowAdd { get; set; } = true;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		try
		{
			var User = _httpContextAccessor.HttpContext.User;

			var email = _httpContextAccessor.HttpContext.User
			.FindFirst(ClaimTypes.Email);
			if (email != null)
			{
				Email = email.Value;
			}
		}
	catch (Exception)
		{
			
			throw;
		}
	}

	private void ShowAddNew()
	{
		IsShowAdd = !IsShowAdd;
	}
	private bool IsShowList { get; set; } = true;
	private void ShowList() 
	{
		IsShowList = !IsShowList;
	}
	private bool IsShowTask { get; set; } = false;
	private void ShowTask()
	{
		IsShowTask = !IsShowTask;
	}

}
