@page "/"

<PageTitle>Index</PageTitle>
<div class="head2">
	<h1 class="title2">Plant List</h1> <button class="addBttn"> + </button>
</div>

<table class="MainTable">
	<tr class="tableHead">
		<th>Plant Name</th>
		<th>Latin Name</th>
		<th>Water</th>
		<th>Feritilize</th>
		<th>Take a Cutting</th>
	</tr>
	<tr class="contentMain">
		<td> Florida Ghost</td>
		<td> Philodendron pedatum </td>
		<td> <button> Water </button></td>
		<td> <button> Feritilize</button></td>
		<td> <button>Take a cutting</button></td>
	</tr>
</table>

