@page "/"
@using Greener.DAL
@using Greener.Models


<div class="headTasks head2">
	<button class="addBttn" @onclick=@ShowTask> Tasks </button>
</div>
<div hidden="@IsShowTask"> <TaskList /></div>

<div class="headAddNew head2">
	
	<button class="addBttn" @onclick=@ShowAddNew> Add new plant </button>
</div>
<div hidden="@IsShowAdd"> <AddPlant/></div>

<div class="headList head2">
<button class="addBttn" @onclick=@ShowList>Plant List   </button>
</div>
<div hidden="@IsShowList"> <PlantListTable/> </div>


@code{

	private bool IsShowAdd { get; set; } = true;
	private void ShowAddNew()
	{
		IsShowAdd = !IsShowAdd;
	}
	private bool IsShowList { get; set; } = true;
	private void ShowList() 
	{
		IsShowList = !IsShowList;
	}
	private bool IsShowTask { get; set; } = false;
	private void ShowTask()
	{
		IsShowTask = !IsShowTask;
	}

}
