body {
}
.head2 {
  background: #4DA27C;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15vh;
  width: 100vw;
  height: 13vh;
  font-family: 'Josefin Slab', serif;
}
.addBttn {
  height: 5vh;
  width: 15vh;
  background:#ACE1DA;
  border: none;
}

tr {
  background: #ACE1DA;
  border-bottom: 1px solid #4DA27C;
}

.mainTable {
  margin:auto;
  min-width:80vw;
  max-width:90vw;
}
.tableHead {
  font-size: 15px;
}
.contentMain {
  font-size: 15px;
}


@media all and (max-width: 480px px) {
  .head2 {
    width:100vw;
    color: red;
  }
  .mainTable {
  margin-left:auto;
  margin-right: auto;
  
  }
}

