@using Greener.DAL
@using Greener.Models



<table class="mainTable">
	@foreach ( var plant in plants )
	{
		var currPlant = plant;
		if (currPlant.Name != null)
		{
		<PlantView @bind-CurrPlant= "currPlant" />			
		
		}
	}

</table>

@code {
	protected List<Plant> plants = new List<Plant>();
	protected Plant plant = new Plant();

	protected override async Task OnInitializedAsync ( )
	{
		var context = new PlantDAL();
		plants = await context.AllPlants();
	}
}