/* _content/Greener/Pages/AddPlant.razor.rz.scp.css */
body[b-spf57z6yi4] {
}
.head2[b-spf57z6yi4] {
  background: #4DA27C;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  padding-top: 15vh;
  width: 100vw;
  height:13vh;
  font-family: 'Josefin Slab', serif;
  font-size:18px;
}
.LayoutNewPlant[b-spf57z6yi4] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addBttn[b-spf57z6yi4] {
  height: 5vh;
  width: 15vh;
  background: #ACE1DA;
  border: none;
  display:flow;
  align-items: center;
  border-radius:5px;
}
/* _content/Greener/Pages/PlantList.razor.rz.scp.css */
body[b-ulsdhnu33s] {
}
.head2[b-ulsdhnu33s] {
  background: #4DA27C;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15vh;
  width: 100vw;
  height: 13vh;
  font-family: 'Josefin Slab', serif;
  font-size:18px;
}
.addBttn[b-ulsdhnu33s] {
  height: 5vh;
  width: 5vh;
  background: #ACE1DA;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
  text-decoration: none;
}
a[b-ulsdhnu33s] {
  text-decoration: none;
}
  a[b-ulsdhnu33s]:after{
    text-decoration: none;
  }


tr[b-ulsdhnu33s] {
  background: #ACE1DA;
  border-bottom: 1px solid #4DA27C;
}
td[b-ulsdhnu33s] {
  justify-content:space-between;
}

.mainTable[b-ulsdhnu33s] {
  margin:auto;
  min-width:80vw;
  max-width:90vw;
}
.tableHead[b-ulsdhnu33s] {
  font-size: 15px;
}
.contentMain[b-ulsdhnu33s] {
  font-size: 15px;
}


@media all and (max-width: 480px px) {
}

/* _content/Greener/Shared/MainLayout.razor.rz.scp.css */
body[b-h25q02kojj] {
}
.page[b-h25q02kojj] {
  margin:auto;
}
.head1[b-h25q02kojj] {
  background: #DDE8D1;
  position: absolute;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100vw;
  margin: auto;
}
.titleQuote[b-h25q02kojj] {

  font-family: 'Josefin Slab', serif;
  font-size: 22px;
  color: #3A4653;
}
.titleMain[b-h25q02kojj] {
  font-family: 'Island Moments', cursive;
  font-size: 40px;
  margin-top: -15px;
}
