/* _content/Greener/Pages/AddPlant.razor.rz.scp.css */
body[b-spf57z6yi4] {
}
.addPlantForm[b-spf57z6yi4] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* _content/Greener/Pages/PlantList.razor.rz.scp.css */
body[b-ulsdhnu33s] {
}
.head2[b-ulsdhnu33s] {
  background: #4DA27C;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15vh;
  width: 100vw;
  height: 13vh;
  font-family: 'Josefin Slab', serif;
}
.addBttn[b-ulsdhnu33s] {
  height: 5vh;
  width: 15vh;
  background:#ACE1DA;
  border: none;
}

tr[b-ulsdhnu33s] {
  background: #ACE1DA;
  border-bottom: 1px solid #4DA27C;
}
td[b-ulsdhnu33s] {
  justify-content:space-between;
}

.mainTable[b-ulsdhnu33s] {
  margin:auto;
  min-width:80vw;
  max-width:90vw;
}
.tableHead[b-ulsdhnu33s] {
  font-size: 15px;
}
.contentMain[b-ulsdhnu33s] {
  font-size: 15px;
}


@media all and (max-width: 480px px) {
  .head2[b-ulsdhnu33s] {
    width:100vw;
    color: red;
  }
  .mainTable[b-ulsdhnu33s] {
  margin-left:auto;
  margin-right: auto;
  
  }
}

/* _content/Greener/Shared/MainLayout.razor.rz.scp.css */
body[b-h25q02kojj] {
}
.page[b-h25q02kojj] {
  margin:auto;
}
.head1[b-h25q02kojj] {
  background: #DDE8D1;
  position: absolute;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100vw;
  margin: auto;
}
.titleQuote[b-h25q02kojj] {

  font-family: 'Josefin Slab', serif;
  font-size: 22px;
  color: #3A4653;
}
.titleMain[b-h25q02kojj] {
  font-family: 'Island Moments', cursive;
  font-size: 40px;
  margin-top: -15px;
}
