body {
}
.page {
  margin:auto;
}
.head1 {
  background: #DDE8D1;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100%;
  margin: auto;
}
.titleQuote {

  font-family: 'Josefin Slab', serif;
  font-size: 22px;
  color: #3A4653;
}
.titleMain {
  font-family: 'Island Moments', cursive;
  font-size: 40px;
  margin-top: -15px;
}