@inherits LayoutComponentBase

<PageTitle>Greener</PageTitle>

<div class="page">
       <main>
           <div>
        <LoginControl/>
    </div>
        <div class="head1">
            <p class="titleQuote"> Get your plants </p>
           <p class="titleMain">Greener</p>
        </div>

        <article class="layout">
            @Body
        </article>
    </main>
</div>
